.node{
  width:30px;
  height:30px;
  outline: 1px solid rgba(0, 0, 0, 0.712);
  background-color: white;
}
/*.node{
  width:30px;
  height:30px;
  outline: 1px solid rgba(128, 128, 128, 0.712);
  background-color: white;
}
*/

.nodeFinish{
  background-color: red;
}

.nodeStart{
  background-color: green;
}
.nodeVisited{
  background-color: rgb(83, 195, 255);
}
.nodeWall{
  background-color: rgb(27, 27, 125);
}
.finalNode{
  background-color: rgb(246, 246, 44);
}

.weightNode {
  background-image: url('../../../public/images/weight.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nodeVisited.weightNode {
  background-color: rgb(50, 127, 169);
}
th {
  /* Reset or override styles */
  padding: 0;
  background-color: transparent;
  border: none;
  /* Add more styles as needed */
}