.node{
  width:25px;
  height:25px;
  outline: 1px solid grey;
 display: inline-block;
}

.nodeFinish{
  background-color: red;
}

.nodeStart{
  background-color: green;
}

.nodeVisited{
  background-color: blue;
}