.grid {
    display: grid;
    gap: 1px; /* Space between nodes */
    width: 100%; /* Adjust to the container's width */
    height: 100%; /* Adjust to the container's height */
  }
  

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
