.grid {
  margin-top: 45px;
  margin-bottom: 20px;
  white-space: nowrap; /* Prevent line breaks */
  display: flex;
  flex-wrap: wrap; /* Enable wrapping to the next line when the width is reduced */
  border-collapse:collapse;
}