.crossed-out-text {
    text-decoration: line-through;
  }

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #34495e;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: 15px 21px;
    overflow: hidden;
  }

.title{
  color:white;
  font-size:35px;
  font-weight: 700;
  padding-top:15px;
  margin-bottom:25px;
}

.visualizeButn:active{
  background-color: rgb(23, 117, 211);
}

.visualizeButn, .regularButn{
  font-size:20px;
  background-color: #34495e;
  color:white;
  font-weight: 700;
  padding: 10px 25px 10px 25px;
  border:none;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 0.5rem;
}
.visualizeButn{
  background-color: dodgerblue;
  /* border-radius:5px; */
}
.regularButn:hover{
  color: aquamarine;
}
.dropdown{
  position:relative;
  display:inline-block;
}
.dropdownContent, .dropdownContent2{
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdownContent, .dropdown:hover .dropdownContent2{
  display:flex;
  flex-direction: column;
}

.dijkstrasMenu{
  background-color: #34495e;
  margin-bottom: 0px;
}
.dijkstrasMenu:hover{
    background-color: #1ec8a6;
    color:white;
  }

/* .dropdown:hover .dropdownContent{
} */
.caret{
  width: 20px; 
  height: 20px;
  display: inline-block; 
  background: url('https://cdn1.iconfinder.com/data/icons/outline-17/16/caret-down-512.png') no-repeat center center;
  background-size: cover; 
  cursor: pointer;
}